{% extends 'base.html.twig' %}
{% block title %}Hello BlogController!{% endblock %}
{% block body %}
    <section clas="Articles">
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">
                <p>Ecrit le 16/03/2019 a 10:52 dans la categorie Informatique</p>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                             It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                                             It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                                              and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div class="content">
            <img alt="" src="http://placehold.it/350x150">
        </div>
        <div class="boutonArticle">
            {# j'utilise la commande path avec les doubles {{}} qui permet l'affichage d'une expression #}
            <a class="btn btn-primary" href="{{ path('blog_show') }}">Lire</a>
        </div>
        </article>
        
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">
                <p>Ecrit le 16/03/2019 a 10:52 dans la categorie Informatique</p>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                             It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                                             It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                                              and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div class="content">
            <img alt="" src="http://placehold.it/350x150">
        </div>
        <div class="boutonArticle">
            {# j'utilise la commande path avec les doubles {{}} qui permet l'affichage d'une expression #}
            <a class="btn btn-primary" href="{{ path('blog_show') }}">Lire</a>
        </div>
        </article>

        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">
                <p>Ecrit le 16/03/2019 a 10:52 dans la categorie Informatique</p>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                             It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                                             It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                                              and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div class="content">
            <img alt="" src="http://placehold.it/350x150">
        </div>
        <div class="boutonArticle">
            {# j'utilise la commande path avec les doubles {{}} qui permet l'affichage d'une expression #}
            <a class="btn btn-primary" href="{{ path('blog_show') }}">Lire</a>
        </div>
        </article>
        
    </section>
{% endblock %}
        
